/* Product Carousel */
.ProductCarouselArrows::before {
  color: rgba(25, 135, 84, 0.2);
}
/* Product Carousel Item*/
.ProductCarouselCard {
  box-shadow: 0 0 0 1px rgb(255 255 255), 0.1em 0.1em 0.5em rgb(0 0 0 / 20%);
}
.ProductCarouselCard:hover {
  box-shadow: 2px 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 2em rgba(0, 0, 0, 0.3);
}
